*{
  margin: 0;
}

.App {
  background-color: #FAFAFA;
  padding-bottom: 1em;
  min-height: 100vh;
}

.App__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.6em 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  
}

.App__logo {
  height: 1.7em;
}
