.paper__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paper__logo {
  width: 10em;
  margin: 2em 0 1em;
}

.paper__item {
  margin: 1em 0 0;
  width: 100%;
}

.paper__btn {
  margin: 1.5em 0 2em !important;
  background-color: #0095f6 !important;
  color: white !important;
  width: 100%;
}

.paper__body {
  padding: 0 4em;
}

.paper__text {
  text-align: center;
  color: #8e8e8e;
  margin: 0 0 1em;
}

.paper__textp {
  font-size: 0.7em;
}

.paper__textp strong{
    cursor: pointer;
}